<!--<p>login works!</p>-->


<!--<div class="col-md-6 offset-md-3">

  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> Email</label>
      <input type="text" class="form-control" id="email"
             [(ngModel)]="user.email" name="email" required="required">
    </div>
    <div class="form-group">
      <label> Parola</label>
      <input type="password" class="form-control" id="password"
             [(ngModel)]="user.password" name="password">
    </div>
    <div class="text-center">
      <button class=" btn btn-success" type="submit">Submit</button>
    </div>
  </form>
  <form (ngSubmit)="onRegister()">
    <div class="text-center">
      <button class=" btn btn-success" type="submit">Register</button>
    </div>
  </form>
</div>-->


<body>
  <div class="box">
    <form (ngSubmit)="onSubmit()">
      <h2 class="centerify">Login</h2>
      <label>Email</label>
      <div class="inputBox">
        <input type="text" class="form-control" id="email"
               [(ngModel)]="user.email" name="email" required="required">
        <i></i>
      </div>
      <div class="inputBox">
        <label>Password</label>
        <input type="password" class="form-control" id="password"
               [(ngModel)]="user.password" name="password" required="required">
        <i></i>
      </div>
      <div class="text-center">
        <button class=" btn btn-success btn-bg" type="submit">Submit</button>
      </div>
      -
      <div class="links">
        <a href="#">Forgot Password</a>
        <a href="#">Register</a>

        <input type="submit" value="Login">
      </div>

    </form>
    -
    <form (ngSubmit)="onRegister()">
      <div class="text-center">
        <button class=" btn btn-success btn-sm" type="submit">Register</button>
      </div>
    </form>
  </div>
</body>
