<!--<p>photo-details works!</p>-->
<div>
  <div class="centerify">
    <label><b>Photo Id: </b>{{photo.id}}</label>
  </div>
  <div class="centerify">
    <label><b>Name: </b>{{photo.name}}</label>
  </div>
  <div class="centerify">
    <label><b>Path: </b>{{photo.path}}</label>
  </div>
  <div class="centerify">
    <label><b>Description: </b>{{photo.description}}</label>
  </div>
  <div class="centerify">
    <label><b>User Id: </b>{{photo.userid}}</label>
  </div>
  <img class="img" src={{photo.path}}>
    
</div>
